
.taskContainer{
    margin-top: 10px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    max-width: 400px;
    border-bottom: 1px solid rgb(186, 24, 24);
    padding: 1em;
}

.details{
    text-align: left;
}

.details h4{
    font-size: 1.2em;
    margin-bottom: 25px;
}

.actions{
    display: flex;
    flex-direction: column;
}

.actions i{
    background-color: rgb(186, 24, 24);
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 6px;
    cursor: pointer;
    transition: .5s;
}

.actions i:hover{
    background-color: rgb(107, 15, 15)
}