.form{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 2em;
}

.inputContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inputContainer label{
    font-weight: bold;
}

input{
    margin-top: 15px;
    padding: 10px 5px;
}

.form input[type="submit"]{
    background-color: rgb(107, 15, 15);
    border: 1px solid rgb(77, 28, 28);
    transition: .5s;
    cursor: pointer;
}

.form input[type="submit"]:hover{
    background-color: rgb(211, 76, 76);
    border-color: rgb(77, 28, 28);
}